@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Stick+No+Bills:wght@400;500;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    width: 100%;
    background-color: gray;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 100px auto;
}

.bemvindo-logo {
    color: black;
    font-size: 40px;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 600;
    text-align: center;
    transition: 0.4s;
}

.bemvindo-logo:hover {
    cursor: pointer;
    color: greenyellow;
}

.bemvindo-title {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.bemvindo-subtitle {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.form-content label{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-top: 9px;
}

.form-content span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: red;
}

.input-wid {
    width: 270px;
    height: 20px;
}